@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:wght@500;700;900&family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    position: absolute;
    width: 100%;
    border: 3px solid rgb(128, 0, 0);

}

.header {
    position: absolute;
    border: 3px solid green;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    /* box-shadow: 14px 14px 28px #828282,
        -14px -14px 28px #ffffff; */
    justify-content: flex-start;
    background: linear-gradient(90deg, #fff 25%, #DF7861 100%);
}

.header .header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
}

.header .header-left img {
    width: 9rem;
}

.header .header-left .title_d {
    margin-top: 20px;
    font-family: 'Caveat Brush', cursive;
}

.header .header-left .title_p {

    font-size: 3rem;
    font-weight: 900;
    color: #42032C;
}

.header .header-left .subtitle_s {
    font-size: 1.8rem;
    font-weight: 500;
    color: #224B0C;
}

.header .contact_d {
    font-family: 'Caveat Brush', cursive;
    position: relative;
    top: 30px;
    left: 45%;
    font-size: 2.5rem;
    font-weight: 900;
    color: #2B4865;
}

.container .main {
    margin-top: 110px;
    border: 5px solid rgb(107, 0, 128);
}

.container .main-outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 5px solid rgb(9, 0, 128);
    padding: 1px;
}

.main-outer .pizza-type {
    border: 5px red;
    margin: 1px;
    padding: 1px;
    border-style: ridge;
    border-radius: 20px;
    width: 160px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.main-outer .pizza-type .pizza-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    padding: 5px;
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.pizza-details .pizza {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizza button {
    position: relative;
    outline: none;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 37%, rgba(233, 0, 0, 1) 100%);
}

.pizza-details button .price {
    margin-top: 2px;
    padding: 2px;
    background: linear-gradient(90deg, rgba(255, 215, 232, 1) 0%, rgba(192, 254, 243, 1) 100%);
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pizza-details button .price span {
    font-family: 'Caveat Brush', cursive;

    font-size: 2rem;
    font-weight: 700;
    color: #42032C;
}


.pizza-details .pizza img {
    margin: 2px;
    width: 14rem;
    outline-offset: 100px;
    outline: none;
}

.pizza-type .pizza-details span {
    width: 15rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3FA796;
    text-align: center;
    padding: 1.6px;

}

.sizes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    /* border-right:2px solid  rgba(233,0,0,1); ;
    border-left:2px solid  rgba(233,0,0,1); ; */
    border-bottom: 2px solid rgba(233, 0, 0, 1);
    ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 75%;
}

.sizes button {
    width: 25%;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.pizza-details .sizes button {
    border-radius: 5px;
}

.pizza-details .sizes .small {
    background-color: #fdfa2f;
    ;
}

.pizza-details .sizes .small:hover {
    background-color: #FFCB42;

}

.pizza-details .sizes .medium {
    background-color: #47f8f8;
}

.pizza-details .sizes .medium:hover {
    background-color: #00a5c2;
}

.pizza-details .sizes .large {
    background-color: #e88550;

}

.pizza-details .sizes .large:hover {
    background-color: #e35b11;
}

.main-outer .order {
    border: 5px red;
    margin: 1px;
    padding: 1px;
    border-style: ridge;
    border-radius: 20px;
    width: 160px;
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.create-order {
    /* margin: 8px 0; */
    /* border: 5px solid rgb(255, 0, 234); */

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.order .order-preview {
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid rgb(0, 255, 34); */
    width: 48%;
}

.order .order-card {
    /* border: 5px solid rgb(255, 0, 234); */
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order .order-card .order-id {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background: #A66CFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 3px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.order .order-card .order-status {
    font-family: 'Roboto', monospace;
    width: 100%;
    padding: 2px 0;
    background: linear-gradient(90deg, rgba(114, 255, 255, 0.70) 0%, rgba(154, 255, 78, 0.70) 100%);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;

}

.order-status .details .type,
.order-status .details .size {
    font-size: 1.4rem;
    font-weight: 900;
    padding: 4px 0;
    color: #990000;
}


.order-status .status {
    padding: 2px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 95%;
    align-items: center;
    justify-content: space-around;
    color: #411530;
}

.order-status .status .dynamic {
    font-family: 'Roboto', sans-serif;
    padding: 0 3px;
    border-radius: 5px;
    font-size: .8em;
    background-color: #3fd907;
    color: #ca0202;
}

.order .order-card .time-date {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 3px 0;
    text-align: center;
    background: #FF9F29;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hr {
    padding: 1px;
    border-bottom: 1px solid #2A0944;
    margin: 0;
}

.order .bill-status {

   /* justify-content: center; */
   align-items: center;
    /* border: 5px solid rgb(8, 0, 255); */
    width: 100%;
}

 /* .bill-status table{
    align-items: center;
 } */

 /* .bill-status table .ncol,
 .bill-status table .scol,
 .bill-status table .pcol{
    width:100%;
    white-space:nowrap;
 } */

 table{
    width: 90%;
 }

 tr{
    align-items: center;
 }

 td{
    width:30%;
    white-space:nowrap;
    text-align: center;
 }

.total_r{
    border-top: 2px solid red;
}

 table,th,td{
    /* width: 100%; */
    padding: 5px;
    
    border-collapse: collapse;
 }

 th{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
    color: #4B8673;
 }
 td{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #990000;
 }

 .total_c{
    font-size: 1.6rem;
    color: #541690;
 }

.lbl{
    margin: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color:#590696 ;
    font-size: 3rem;
}







@media only screen and (min-width: 280px) and (max-width: 780px) {

    html {
        font-size: 25%;
    }

    .main-outer .pizza-type {
        width: 25%;
    }

    .main-outer .order {
        width: 75%;
    }




    .main-outer .pizza-type .pizza-details {

        width: 80%;
    }



}


@media only screen and (min-width: 780px) and (max-width: 1200px) {
    html {
        font-size: 35%;
    }

    .main-outer .pizza-type {
        width: 50%;
    }

    .main-outer .order {
        width: 50%;
    }



}