@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:wght@500;700;900&family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#p1BtnClick,
#p2BtnClick,
#p3BtnClick,
#p4BtnClick,
#p5BtnClick,
#p6BtnClick,
#p7BtnClick,
#p8BtnClick,
#p9BtnClick{
    display: none;
}

/* bootstrap css */
.cs_alert {
    position: static;
    background-color: #07d988;
    top: 0;
    right: 0;
    z-index: 1;
    border-radius: 10px;
    width: 30%;
}

.tTitle {
    font-size: 2rem;
    color: #411530;
}

.tParagraph {
    font-size: 2rem;
    font-weight: 800;
    color: #111;
}

.tImg {
    width: 8rem;
}

/* bootstrap css */




.containerk {
    position: absolute;
    width: 100%;
    /* border: 3px solid rgb(128, 0, 0); */

}

._header {
    position: absolute;
    /* z-index: 100; */
    border-bottom: 2px solid rgba(255, 0, 39, 0.89);
    /* border: 3px solid green; */
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    /* box-shadow: 14px 14px 28px #828282,
        -14px -14px 28px #ffffff; */
    justify-content: flex-start;
    background: linear-gradient(295deg, rgba(255, 0, 39, 0.89) 0%, rgba(255, 255, 255, 1) 80%);
    /* background: linear-gradient(180deg, rgba(255,0,39,0.8827906162464986) 0%, rgba(255,255,255,1) 80%); */
    /* background: linear-gradient(185deg, rgba(255,0,39,1) 18%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 98%); */
    /* background: linear-gradient(90deg, #fff 25%, #DF7861 100%); */
}

._header .header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
}

._header .header-left img {
    width: 9rem;
}

._header .header-left .title_d {
    margin-top: 20px;
    font-family: 'Caveat Brush', cursive;
}

._header .header-left .title_p {

    font-size: 3rem;
    font-weight: 900;
    color: #42032C;
}

._header .header-left .subtitle_s {
    font-size: 1.8rem;
    font-weight: 500;
    color: #224B0C;
}

._header .contact_d {
    font-family: 'Caveat Brush', cursive;
    position: relative;
    top: 30px;
    left: 45%;
    font-size: 2.5rem;
    font-weight: 900;
    color: #2B4865;
}

.containerk .main {
    /* margin-top: 110px; */
    margin-top: 11rem;
    /* border: 5px solid rgb(107, 0, 128); */
}

.containerk .main-outer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 5px solid rgb(9, 0, 128); */
    padding: 1px;
}

.main-outer .pizza-type {
    border: 5px #65d80d;
    margin: 1px;
    padding: 1px;
    border-style: ridge;
    border-radius: 20px;
    width: 160px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* background: url(./assets/bg\ remove\ logo.png);
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden; */

}

.main-outer .pizza-type .pizza-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45%;
    padding: 5px;
    margin: 8px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);
    border-radius: 10px;
}

.pizza-details .pizza {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizza .pizza-img {
    width: 100%;
    position: relative;
    outline: none;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 37%, rgba(233, 0, 0, 1) 100%);
}

.pizza-details button .price {
    margin-top: 2px;
    padding: 2px;
    background: linear-gradient(90deg, rgba(255, 215, 232, 1) 0%, rgba(192, 254, 243, 1) 100%);
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pizza-details button .price span {
    font-family: 'Caveat Brush', cursive;

    font-size: 2.4rem;
    font-weight: 700;
    color: #42032C;
}


.pizza-details .pizza img {
    margin: 2px;
    width: 98%;
    outline-offset: 100px;
    outline: none;
    cursor: pointer;
}

.pizza-type .pizza-details span {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 900;
    color: #005555;
    text-align: center;
    padding: 3px;

}

.sizes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    border-bottom: 2px solid rgba(233, 0, 0, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}

.sizes button {
    width: 30%;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
}

.pizza-details .sizes button {
    border-radius: 5px;
    padding: 3px 0;

}

.pizza-details .sizes .small {

    background-color: #fdfa2f;
    opacity: .8;
    color: #111;
    transition: ease-out .3s;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);

}

.pizza-details .sizes .small:hover {
    opacity: 1;
    background-color: #c2af00;
    color: #fff;
    border-color: #c2af00;

}

.pizza-details .sizes .medium {
    background-color: #47f8f8;
    opacity: .8;
    color: #111;
    transition: ease-out .3s;
    cursor: pointer;
    width: 30%;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);

}

.pizza-details .sizes .medium:hover {
    opacity: 1;
    background-color: #008da6;
    color: #fff;
    border-color: #008da6;
}

.pizza-details .sizes .large {
    background-color: #e88550;
    opacity: .8;
    color: #111;
    transition: ease-out .3s;
    cursor: pointer;
    width: 30%;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);


}

.pizza-details .sizes .large:hover {
    opacity: 1;
    background-color: #a33c05;
    color: #fff;
    border-color: #a33c05;
}

.main-outer .order {
    border: 5px #0096FF;
    margin: 1px;
    padding: 1px;
    border-style: ridge;
    border-radius: 20px;
    /* width: 160px; */
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.create-order {
    /* margin: 8px 0; */
    /* border: 5px solid rgb(255, 0, 234); */

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.order .order-preview {
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid rgb(0, 255, 34); */
    width: 48%;
}

.order .order-card {
    border: 3px solid #231955;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);

}

.order .order-card .order-id {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    color: #111;
    background: #A66CFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 3px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.order .order-card .order-status {
    font-family: 'Roboto', monospace;
    line-height: 12px;
    width: 100%;
    padding: 5px 0;
    background: linear-gradient(90deg, rgba(114, 255, 255, 0.70) 0%, rgba(154, 255, 78, 0.70) 100%);
    text-align: center;
    font-size: 2rem;
    font-weight: 900;

}

.order-status .details .type,
.order-status .details .size {
    font-size: 2rem;
    font-weight: 900;
    padding: 1px 0;
    color: #990000;
}


.order-status .status {
    padding: 2px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 95%;
    align-items: center;
    justify-content: space-around;
    color: #411530;
}

.order-status .status .dynamic {
    font-family: 'Roboto', sans-serif;
    padding: 0 3px;
    border-radius: 5px;
    /* font-size: 10em; */
    background-color: #2A0944;
    /* background-color: #9cf02d; */
    color: #ffa16f;
}

.order .order-card .time-date {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    background: #FF9F29;
    font-size: 1.8rem;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.time-date .countDown {
    /* padding-top:3px ; */
    color: #111;
}

.time-date .time {
    color: #fff;
    letter-spacing: 2px;
    background: #3120E0;
    padding: 3px;
    border-radius: 5px;
}

.time-date .cncl {
    padding: 3px;
    font-weight: 900;
    border-radius: 5px;
    background: red;
    border: none;
    border: 1px solid #111;
    transition: ease-in 0.3s;
}

.order-card .time-date .cncl:hover {
    background: #fff;
    color: red;
    border: 1px solid #111;
}

.hr {
    padding: 1px;
    border-bottom: 1px solid #2A0944;
    margin: 0;
}

.lbl {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    width: 80%;
    text-align: center;
    color: #590696;
    font-size: 3rem;
    font-weight: 900;
    background-color: #f3e1fcc9;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);

}

.cancel {
    display: none;
    background: red;
    border: 2px solid black;
    width: 10rem;
    border-radius: 8px;
    font-size: 2.1rem;
    font-weight: 900;
    text-align: center;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.cancel:hover {
    border-color: #111;
    color: red;
    background-color: #fff;
}

.main-outer .billGenerator {
    width: 25%;
    border: 5px #F66B0E;
    margin: 1px;
    padding: 1px;
    border-style: ridge;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Bill Section  */
.billGenerator .billDiv {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}

.billGenerator .billDiv .billcreate {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #A91079;
    border-radius: 5px;
    background: url(./assets/logo\ opacity.png);
    background-size: contain;
    /* no-repeat fixed center */
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);


}

.billDiv .billcreate .billheader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.billcreate .billheader .customerNamelbl,
.billcreate .billheader .billCreatelbl {
    font-size: 1.35rem;
    font-weight: 700;
    padding: 3px 0;
    color: #3f3f46;
}

.billcreate .billheader .customerName,
.billcreate .billheader .dateTime {
    font-size: 1.35rem;
    font-weight: 700;
    color: #111;
}

.billcreate .content_1 {
    font-size: 1.4rem;
    font-weight: 900;
    color: #051367;
}

.billcreate .content_1 label {
    color: #676871;
    text-decoration: underline;

}

.billcreate .button_1 button {
    margin-right: 5px;
    font-size: 1.7rem;
    background: #F73D93;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);

    border: 2px solid #111;
    color: #111;
    border-radius: 5px;
    font-weight: 900;
    transition: ease-in 0.3s;
}

.billcreate .button_1 button:hover {
    color: #162be7;
    background: #fff;

}

.billDiv .billSummary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.billDiv .billSummary .syummeryOfDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.billSummary .syummeryOfDay .lastOderHistory {
    width: 100%;
    border: 2px solid #541690;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);

}

.syummeryOfDay .lastOderHistory label,
.billSummary .todaySummery label {
    font-size: 1.8rem;
    font-weight: 900;
    padding: 3px 0;
    color: #3f3f46;
    text-decoration: underline;
}

.syummeryOfDay .lastOderHistory li,
.billSummary .todaySummery li {
    font-size: 1.5rem;
    font-weight: 900;
    color: #630606;
}

.billSummary .todaySummery li {
    color: #2E0249;
}

.billSummary .todaySummery .summaryDetails {
    margin-right: 5px;
    font-size: 1.7rem;
    background: #14C38E;
    width: 50%;
    border: 2px solid #2A2550;
    color: #111;
    border-radius: 5px;
    font-weight: 900;
    transition: ease-in 0.3s;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);

}

.billSummary .todaySummery .summaryDetails:hover{
    color: #009f6f ;
    border:2px solid #111;
    background: wheat;
}

.billSummary .todaySummery {
    width: 100%;
    border: 2px solid #005555;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 35%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.content_1,
.content_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button_1,
.button_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.todaySummery p {
    color: #111;
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 3px;
}

.samelbl,
.samelblm {
    color: #4700D8;
    font-size: 2rem;
    font-weight: 700;
    background: #FFEEEE;
    padding: 2px;
    margin: 3px;
    border-radius: 5px;
    z-index: 1;
    width: 70%;
}

.samelblm {
    width: 50%;
    background: none;
}

ul {
    list-style-type: none;
    margin: 1px;
    padding: 0;
}







@media only screen and (min-width: 280px) and (max-width: 780px) {

    html {
        font-size: 25%;
    }

    .containerk .main {
        margin-top: 18rem;
    }

    .main-outer .pizza-type {
        width: 30%;
    }

    .main-outer .order {
        width: 37%;
    }

    .main-outer .billGenerator {
        width: 37%;
    }

    .order .order-preview {
        width: 100%;
    }


    .main-outer .pizza-type .pizza-details {

        width: 80%;

    }



}


@media only screen and (min-width: 780px) and (max-width: 1200px) {
    html {
        font-size: 35%;
    }

    .main-outer .pizza-type {
        width: 40%;
    }

    .containerk .main {
        margin-top: 14rem;
    }

    .main-outer .order {
        width: 35%;
    }

    .main-outer .billGenerator {
        width: 25%;
    }



}